---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';
import { Accordion } from 'webcoreui/astro';
import "webcoreui/styles";

const seo = {
	title: 'About | The Morning After Retirement',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About The Morning After Retirement</h1>
			<p>
				Written by John Starkweather and Illustrated by Molly Kessler, <em>The Morning After Retirement</em> is a surreal romp through the Bible. See below for more information about the team and the project.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <h1>FAQs</h1>
  <Accordion items={[{
    title: 'Who is the target audience?',
    content: 'Adults and young adults who are exploring their beliefs or grappling with life\'s big questions. This includes non-believers wrestling with the concept of God and believers reconsidering traditional interpretations of scripture.'
}, {
    title: 'How should readers approach the text and images?',
    content: 'The graphic novel has three streams: the spoken words of A and other characters, the illustrations, and the endnotes. Readers can engage with the endnotes for deeper insights at their own pace, either as they read or afterward to catch references and explore themes.'
}, {
    title: 'What do you hope readers take away from this?',
    content: 'A foundation for their beliefs, a willingness to engage with difficult questions, and an understanding of faith as a living, evolving conversation. The goal is to inspire readers to think, reflect, and actively seek how best to live in the present.'
}]} icon="plus" />
  </TextSection>
</Layout>
