---
import { TextSection, Container, FeatureCard } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';

const seo = {
  title: `Read | The Morning After Retirement`,
  description: `This is where the pdf of The Morning After Retirement Graphic Novel is available for download as a pdf and to order in print.`,
};

const pdfPath = '/graphic-novel.pdf'; // Path to your PDF in the public folder
const previewImage = '/social.png'; // Path to the preview image in the public folder
---

<Layout seo={seo}>
  <Container>
		<section class="feature-card__section">
			<h2>Available Digitally and In Print!</h2>
			<div class="feature-card__grid">
				<FeatureCard href={pdfPath} title="Free PDF Download" imgSrc="/assets/images/home/cover-official">
				</FeatureCard>
				<FeatureCard href={pdfPath} title="Order a Physical Copy" imgSrc="/assets/images/home/cover-official">
				</FeatureCard>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>