---
import { TextSection, Container, FeatureCard } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';

const seo = {
  title: `Read | The Morning After Retirement`,
  description: `This is where the pdf of The Morning After Retirement Graphic Novel is available for download as a pdf and to order in print.`,
};

const pdfPath = '/graphic-novel.pdf'; // Path to your PDF in the public folder
const orderLink = 'https://www.ingramspark.com'; // Replace with your actual order URL
---

<Layout seo={seo}>
  <Container>
		<section class="feature-card__section">
			<h1>Available Digitally and In Print!</h1>
      <p><em>The Morning After Retirement</em> is a passion project. The intention here is not to make money, but rather to share a message. That’s why the digital version of the graphic novel is available for free and the physical version is being sold at the price of printing and shipping. If you wish to support this project, we encourage you to pay it forward by sharing <em>The Morning After Retirement</em> with anyone who may be interested. Thank you!</p>
			<div class="feature-card__grid">
				<FeatureCard 
          href={pdfPath}
          title="Free PDF Download"
          imgSrc="/assets/images/home/cover-official"
          onClick={`gtag('event', 'download', { event_category: 'Files', event_label: 'graphic-novel.pdf' });`}
        />
        <FeatureCard 
          href={orderLink}
          title="Order a Physical Copy"
          imgSrc="/assets/images/home/print-order"
          onClick={`gtag('event', 'click', { event_category: 'Outbound', event_label: 'Order Print Copy' });`}
        />
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>