---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';

const seo = {
  title: `Legal Page | Astro Odyssey Theme`,
  description: `This is the legal page template. It is a great starter for your company's Terms of Service, Terms & Conditions, Privacy Policy, etc.`,
};
---

<Layout seo={seo}>
  <TextSection narrow>
    <h1>Legal Page</h1>

    <p>This is the legal page template. It is a great starter for your company's Terms of Service, Terms & Conditions,
      Privacy Policy, etc.</p>

    <h2>Terms of Service</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, obcaecati. Aspernatur facilis molestias
      vitae. Aliquid debitis eum quis repudiandae pariatur possimus provident accusantium reiciendis nemo, culpa labore
      laborum, dolorum ea.</p>

    <p>Corrupti impedit perferendis, libero in, voluptates quod ratione repudiandae veniam sapiente necessitatibus, eius
      illo. Impedit quibusdam esse saepe placeat incidunt voluptatibus soluta dolore blanditiis ad provident animi
      illum, est adipisci?</p>
  </TextSection>
</Layout>