---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import "webcoreui/styles"; // Import WebCoreUI SCSS


const seo = {
  title: `Preview | The Morning After Retirement`,
  description: `This is a preview of some pages from the graphic novel.`,
};
---

<Layout seo={seo}>
  <TextSection narrow>
    <h1>Preview</h1>
    <p>Here's a sample of what you'll see when you download <em>The Morning After Retirement</em>.</p>

    <!-- WebCoreUI Carousel -->
    <div class="carousel" data-carousel>
      <div class="carousel-slides">
        <div class="carousel-slide">
          <img src="/assets/images/home/classic-hero.jpg" alt="Preview Page 1" />
        </div>
        <div class="carousel-slide">
          <img src="/assets/images/home/classic-hero.jpg" alt="Preview Page 2" />
        </div>
        <div class="carousel-slide">
          <img src="/assets/images/home/classic-hero.jpg" alt="Preview Page 3" />
        </div>
      </div>
    </div>
  </TextSection>
</Layout>



